.App {
  margin: 0 auto;
  width: 400px;
  padding: 20px;
}
.App > .title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 50px;
  font-size: 22px;
}
.green {
  color: #2ecd8c;
}
.green-back {
  background-color: #2ecd8c;
}
.red {
  color: #c0392b;
}
.red-back {
  background-color: #c0392b;
}
